.modal-overlay{

position:fixed;
inset:0;

background:rgba(0,0,0,.65);

display:flex;
justify-content:center;
align-items:center;

z-index:9999;

backdrop-filter:blur(6px);

}

.delete-modal{

width:420px;
max-width:90%;

background:#1b1b1b;

border-radius:18px;

padding:35px;

text-align:center;

border:1px solid rgba(255,255,255,.08);

animation:popup .25s ease;

}

@keyframes popup{

from{

transform:scale(.9);
opacity:0;

}

to{

transform:scale(1);
opacity:1;

}

}

.delete-modal h2{

color:#d4af37;
margin-bottom:20px;

}

.delete-modal p{

color:#bdbdbd;
line-height:1.7;

margin-bottom:30px;

}

.modal-buttons{

display:flex;
gap:15px;

}

.cancel-btn,
.confirm-btn{

flex:1;

padding:14px;

border:none;

border-radius:10px;

font-size:15px;

font-weight:700;

cursor:pointer;

transition:.3s;

}

.cancel-btn{

background:#2b2b2b;
color:white;

}

.cancel-btn:hover{

background:#3a3a3a;

}

.confirm-btn{

background:#dc2626;
color:white;

}

.confirm-btn:hover{

background:#b91c1c;

}