
.home-content{
    max-width:1400px;
    margin:auto;
    padding:60px 20px;
}

.gallery-header{

    display:flex;
    justify-content:space-between;
    align-items:center;
    margin-bottom:35px;
}

.gallery-header h2{

    color:white;
    font-size:38px;
    margin-bottom:10px;
}

.gallery-header p{

    color:#bdbdbd;
}

.empty-gallery{

    background:#1d1d1d;
    padding:70px 30px;
    border-radius:20px;
    text-align:center;
    margin-top:40px;
}

.empty-gallery h2{

    font-size:70px;
    margin-bottom:15px;
}

.empty-gallery h3{

    color:#d4af37;
    margin-bottom:15px;
}

.empty-gallery p{

    color:#bdbdbd;
    max-width:500px;
    margin:auto;
    line-height:1.7;
}

@media(max-width:768px){

.gallery-header{

flex-direction:column;
align-items:flex-start;
gap:15px;

}

.gallery-header h2{

font-size:28px;

}

}